<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
        <p>What is the name of a person?</p>
        <input type = "text" name = "nameInput"/>
        
        <p>Now pick a color!</p>
        <input type = "text" name = "colorInput"/>

        <p>Now pick a noun, any noun!</p>
        <input type = "text" name = "nounInput"/>

        <p>And finally, pick an adjective!</p>
        <input type = "text" name = "adjectiveInput"/>

        <button type = "submit">Submit</button>
    </form>
    
</body>
</html>